/*=============Общие==============*/
:root {
  --primary-font-color: #757575;
  --fonts-accent-color: #212121;
  --hover-accent: #2196f3;
  --color-light: #ffffff;
  --color-logo: #000000;
  --color-background: #2f303a;
  --second-background: #f5f4fa;
  --color-border-portfolio: #eeeeee;
  --icon-color: #afb1b8;
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 100px 15px;
  margin: auto;
}

/*=============/Общие==============*/

/*=============Header==============*/
.logo,
.logo:visited,
.logo:focus,
.logo:hover {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--color-logo);

  margin-right: 90px;
}

.logo-color {
  color: var(--hover-accent);
}

.navigation,
.navigation:visited {
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--fonts-accent-color);

  transition: color var(--transition-duration-function);
}

.address-nav .navigation {
  display: flex;
  color: var(--primary-font-color);
  align-items: center;
}

.navigation:hover,
.navigation:focus,
.navigation.current {
  color: var(--hover-accent);

  position: relative;
}

.navigation.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background: var(--hover-accent);
  border-radius: 2px;

  position: absolute;
  top: 45px;
}

.navigation .container {
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-nav,
.site-nav,
.address-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}
.address-nav {
  margin-left: auto;
}
.address-nav .item:not(:first-child) {
  margin-left: 50px;
}

.icon {
  margin-right: 10px;
  fill: var(--primary-font-color);

  transition: fill var(--transition-duration-function);
}

.navigation:hover > .icon {
  fill: var(--hover-accent);
}
.navigation:focus > .icon {
  fill: var(--hover-accent);
}

hr {
  margin: 0;
  height: 1px;
  border: none;
  background-color: #ececec;
}

/*=============/Header==============*/

/*=============Лозунг==============*/
.hero {
  background: var(--color-background);
  text-align: center;
  min-height: 600px;
  /* min-width: 1600px; */
  padding-top: 200px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
  width: 696px;
  min-height: 120px;
  margin: auto;
}

.button,
.button:visited {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-light);
  background-color: var(--hover-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-height: 50px;
  width: 200px;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

/*=============/Лозунг==============*/

/*=============About==============*/
.about-title {
  font-weight: bold;
  line-height: 1.1428;
  text-transform: uppercase;
  color: var(--fonts-accent-color);
}

.about-text {
  line-height: 1.71;
  color: var(--primary-font-color);
}

.about-flex {
  display: flex;
}

.about-item {
  width: calc((100% - 90px) / 4);
  /*  высчитываем ширину элементов так, чтобы поместилось по 4шт в ряд +маржин 30px, для будущего расширения контента */
  margin-right: 30px;
}
.about-item:nth-child(4n) {
  margin-right: 0;
}

.about-icon-bg {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============/About==============*/

/*=============Деятельность==============*/
.work .container {
  padding-top: 0;
}
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  color: var(--fonts-accent-color);

  margin-top: 0;
  margin-bottom: 50px;
}

.work-flex {
  display: flex;
  justify-content: space-between;
}

.work-item {
  width: 370px;
  height: 294px;
  position: relative;
}

.description {
  font-weight: bold;
  line-height: 1.1428;
  text-align: center;
  padding-top: 27px;
  text-transform: uppercase;

  color: var(--color-light);
  background-color: rgba(47, 48, 58, 0.8);

  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;
}

/*=============/Деятельность==============*/

/*=============Наша команда==============*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  color: var(--fonts-accent-color);

  margin-top: 0;
  margin-bottom: 50px;
}
.team {
  background: var(--second-background);

  font-size: 16px;
  line-height: 1.1875;
}

.team-name {
  font-weight: 500;
  color: var(--fonts-accent-color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.team .profession {
  color: var(--primary-font-color);
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.flex-team {
  display: flex;
}

.item-team:not(:last-child) {
  margin-right: 30px;
}
.item-team {
  background-color: var(--color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-icon-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}

.icon-bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition-duration-function);
}
.icon-bg:not(:last-child) {
  margin-right: 10px;
}

.icon-bg:hover,
.icon-bg:focus {
  background-color: var(--hover-accent);
}

.icon-team {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;

  transition: fill var(--transition-duration-function);
}

.icon-bg:hover > .icon-team {
  fill: var(--color-light);
}

.icon-bg:focus > .icon-team {
  fill: var(--color-light);
}
/*=============/Наша команда==============*/

/*=============Постоянные клиенты==============*/

.clients-flex {
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;
}
.clients:not(:last-child) {
  margin-right: 30px;
}

.clients {
  width: 170px;
  height: 90px;
}

.icon-clients {
  fill: var(--icon-color);
  transition: var(--transition-duration-function);
}

.clients-item {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-duration-function);
}

.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--hover-accent);
}
.clients-item:hover .icon-clients {
  fill: var(--hover-accent);
}
.clients-item:focus .icon-clients {
  fill: var(--hover-accent);
}
/*=============/Постоянные клиенты==============*/

/*=============/footer==============*/
.footer {
  background: var(--color-background);
}
.footer .logo {
  color: var(--color-light);
}
.address .map,
.address .map:visited,
.address .map:hover,
.address .map:focus {
  font-style: normal;
  color: var(--color-light);
}

.address .contacts,
.address .contacts:visited,
.address .contacts:hover,
.address .contacts:focus {
  font-style: normal;
  line-height: 1.71;
  color: var(--color-light);
  opacity: 0.6;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: row;
}
.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contacts {
  margin-top: 10px;
}

.join {
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;

  color: var(--color-light);

  margin-top: 12px;
}

.footer-join {
  margin-left: 70px;
  margin-right: 93px;
}

.join-icon-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}
.join-icon-flex .list-no-style:not(:last-child) {
  margin-right: 10px;
}
.list-no-style .join-icon {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-duration-function);
}

.join-icon > .icon-team {
  fill: var(--color-light);
}

.list-no-style .join-icon:hover,
.list-no-style .join-icon:focus {
  background: var(--hover-accent);
}

.subs-form-flex .button {
  border: none;
  margin-top: 0;
  margin-left: 12px;
  height: 50px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  cursor: pointer;
}

.subs-form-flex {
  position: relative;
  display: flex;
  align-items: center;
}

.subs-form-flex .button svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subs-form-flex .subs-form-label {
  position: absolute;
  z-index: 1;
  left: 16px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subs-form-flex #subs-email {
  width: 358px;
  height: 50px;
  background: var(--color-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding-left: 65px;
  color: var(--color-light);
}

.subs-form-flex #subs-email:focus {
  outline: none;
}
.subs-form-flex #subs-email:focus {
  border: 2px solid var(--hover-accent);
}

.footer #subs-email:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--color-background) inset;
  -webkit-text-fill-color: var(--color-light);
}

/*=============/footer==============*/

/*=============Modal==============*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  background-color: var(--color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(0);
  transition: var(--transition-duration-function);

  padding: 40px;
}

.backdrop:not(.is-hidden) .modal {
  transform: translate(-50%, -50%) scale(1);
}

.button-icon-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 6px 6px 5px 5px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  width: 18px;
  height: 18px;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 12px;
}

.modal-form .form-input:not(.chekbox-input),
.modal-form .form-textarea {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form .form-label {
  display: block;
  margin-top: 10px;

  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: var(--primary-font-color);
}

.form-input-wrapper {
  position: relative;
  margin-top: 4px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
}

.modal-form .form-input:focus ~ .modal-form-icon {
  fill: var(--hover-accent);
}

.modal-form .form-input:focus {
  border: 1px solid var(--hover-accent);
  outline: none;
}

.modal-form .form-textarea {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}
.modal-form .form-textarea:focus {
  border: 1px solid var(--hover-accent);
  outline: none;
}

.modal-form .chekbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-size: 14px;
}

.chekbox .modal-chekbox-icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  fill: none;
}

.chekbox-input:checked + .modal-chekbox-icon {
  border: none;
  fill: var(--color-light);
  background-color: var(--hover-accent);
}

.chekbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form .chekbox .modal-chekbox-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.modal .button {
  border: none;
  cursor: pointer;

  padding: 10px 55px;
}

.modal-form .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-form .modal-chekbox-text-link {
  color: var(--hover-accent);
  text-decoration: underline;
}

/*=============/Modal==============*/

/*=============Portfolio.html==============*/
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.menu-list {
  color: var(--fonts-accent-color);
  background: var(--second-background);
  border-radius: 4px;
  padding: 6px 22px;
  display: block;
  height: 38px;

  transition: color var(--transition-duration-function),
    background-color var(--transition-duration-function);
}

.menu-item:not(:last-child) {
  margin-right: 8px;
}

.menu-list:hover,
.menu-list:focus {
  color: var(--color-light);
  background-color: var(--hover-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* меню */

/* Продукты */
.products-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--fonts-accent-color);

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.products-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-font-color);

  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.item-portfolio {
  width: calc((100% - 60px) / 3);
  /*  высчитываем ширину элементов так, чтобы поместилось по 3шт в ряд +маржин 30px, для будущего расширения контента */
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-portfolio-border {
  padding-top: 20px;
  border-left: 1px solid var(--color-border-portfolio);
  border-right: 1px solid var(--color-border-portfolio);
  border-bottom: 1px solid var(--color-border-portfolio);
}

.item-portfolio img {
  display: block;
}

.item-portfolio:nth-child(3n) {
  margin-right: 0;
}
.item-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.item-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description-products {
  margin: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--color-light);

  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  left: 0;
  bottom: -100%;

  transform: translateY(0);
  transition: transform var(--transition-duration-function);
}

.thumb-products {
  overflow: hidden;
  position: relative;
}

.item-portfolio:hover .description-products,
.item-portfolio a:focus .description-products {
  transform: translateY(-100%);
}

/*=============/Portfolio.html==============*/
