$primary-font-color: #757575;
$fonts-accent-color: #212121;
$hover-accent: #2196f3;
$color-light: #ffffff;
$color-logo: #000000;
$color-background: #2f303a;
$second-background: #f5f4fa;
$color-border-portfolio: #eeeeee;
$icon-color: #afb1b8;
$transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
