.clients-flex {
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;

  .clients {
    width: 170px;
    height: 90px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .clients-item {
    border: 1px solid $icon-color;
    border-radius: 4px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition-duration-function;

    &:hover,
    &:focus {
      border: 1px solid $hover-accent;

      .icon-clients {
        fill: $hover-accent;
      }
    }

    .icon-clients {
      fill: $icon-color;
      transition: $transition-duration-function;
    }
  }
}
