.title-clients {
  margin-top: 0px;
  margin-bottom: 30px;
}

.clients-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
  margin: -15px;

  // width: 480px;

  .clients {
    // width: 210px;
    width: calc((100% - 6 * 15px) / 2);
    margin: 15px;

    @media screen and (min-width: $tablet) {
      width: 226px;
    }
  }

  .clients-item {
    border: 1px solid $icon-color;
    border-radius: 4px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    // width: 170px;
    height: 90px;

    transition: $transition-duration-function;

    &:hover,
    &:focus {
      border: 1px solid $hover-accent;

      .icon-clients {
        fill: $hover-accent;
      }
    }

    .icon-clients {
      fill: $icon-color;
      transition: $transition-duration-function;
    }
  }
  // @media screen and (min-width: $tablet) {
  //   flex-basis: 738px;
  // }
}
