.footer {
  background: $color-background;

  .footer-address {
    text-align: center;

    @media screen and (min-width: $tablet) {
      margin-left: 76px;
    }
    @media screen and (min-width: $desktop) {
      margin-left: 0;
      text-align: start;
    }
  }

  .logo {
    color: $color-light;
  }

  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    flex-direction: row;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
      justify-content: start;
    }
  }

  #subs-email:-webkit-autofill {
    box-shadow: 0 0 0 30px $color-background inset;
    -webkit-text-fill-color: $color-light;
  }
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  line-height: 1.714;

  .map {
    font-style: normal;
    color: $color-light;
  }

  .contacts {
    font-style: normal;
    line-height: 1.71;
    color: $color-light;
    opacity: 0.6;
    margin-top: 8px;
  }
}
