.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;

  .menu-item {
    &:not(:last-child) {
      margin-right: 8px;
    }

    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }

    .menu-list {
      color: $fonts-accent-color;
      background: $second-background;
      border-radius: 4px;
      padding: 6px 22px;
      display: block;
      height: 38px;

      transition: color $transition-duration-function,
        background-color $transition-duration-function;

      &:hover,
      &:focus {
        color: $color-light;
        background-color: $hover-accent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
          0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      }
    }

    @media screen and (min-width: $tablet) {
      &:nth-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
