.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.item-portfolio {
  width: calc((100% - 60px) / 3);
  /*  высчитываем ширину элементов так, чтобы поместилось по 3шт в ряд +маржин 30px, для будущего расширения контента */
  margin-right: 30px;
  margin-bottom: 30px;

  .thumb-products {
    overflow: hidden;
    position: relative;
  }

  img {
    display: block;
  }

  .description-products {
    position: absolute;
    left: 0;
    bottom: -100%;

    margin: 0;
    width: 370px;
    height: 294px;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: $color-light;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(0);
    transition: transform $transition-duration-function;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    .description-products {
      transform: translateY(-100%);
    }
  }

  a:focus {
    .description-products {
      transform: translateY(-100%);
    }
  }

  .item-portfolio-border {
    padding-top: 20px;
    border-left: 1px solid $color-border-portfolio;
    border-right: 1px solid $color-border-portfolio;
    border-bottom: 1px solid $color-border-portfolio;

    .products-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $fonts-accent-color;

      margin-top: 0;
      margin-bottom: 0;
      margin-left: 24px;
      margin-right: 24px;
    }

    .products-text {
      font-size: 16px;
      line-height: 1.87;
      color: $primary-font-color;

      margin-top: 4px;
      margin-bottom: 20px;
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}
