.team {
  background: $second-background;

  font-size: 16px;
  line-height: 1.1875;

  .team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: $fonts-accent-color;

    margin-top: 0;
    margin-bottom: 50px;
  }

  .list-no-style {
    display: flex;

    .item-team {
      background-color: $color-light;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    .team-name {
      font-weight: 500;
      color: $fonts-accent-color;
      margin-top: 30px;
      margin-bottom: 10px;
      text-align: center;
    }

    .profession {
      color: $primary-font-color;
      margin: 0;
      margin-bottom: 16px;
      text-align: center;
    }

    .team-icon-flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      margin-bottom: 30px;
    }
  }
}
