.icon-bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color $transition-duration-function;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: $hover-accent;
  }

  &:hover > .icon-team {
    fill: $color-light;
  }

  &:focus > .icon-team {
    fill: $color-light;
  }
}

.icon-team {
  fill: $icon-color;
  width: 20px;
  height: 20px;

  transition: fill $transition-duration-function;
}
