.footer-join {
  margin-left: 70px;
  margin-right: 93px;

  .join {
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;

    color: $color-light;

    margin-top: 12px;
  }
}

.join-icon-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;

  .list-no-style {
    &:not(:last-child) {
      margin-right: 10px;
    }

    .join-icon {
      width: 44px;
      height: 44px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: $transition-duration-function;

      &:hover,
      &:focus {
        background: $hover-accent;
      }
    }

    .icon-team {
      fill: $color-light;
    }
  }
}
