.subs-form {
  .join {
    text-align: center;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;

    color: $color-light;

    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
      text-align: start;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-left: 93px;
    text-align: start;
  }
}

.subs-form-flex {
  max-width: 450px;
  position: relative;
  align-items: center;
  margin: 0 auto;

  .button {
    border: none;
    margin: 0 auto;
    height: 50px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }

  .subs-form-label {
    position: absolute;
    z-index: 1;
    left: 16px;
    top: 15px;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  #subs-email {
    min-width: 100%;
    max-width: 450px;
    height: 50px;
    background: $color-background;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    padding-left: 65px;
    color: $color-light;

    margin-bottom: 20px;

    &:focus,
    &:hover {
      outline: none;
      border: 2px solid $hover-accent;
    }

    @media screen and (min-width: $tablet) {
      width: 450px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 12px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
    flex-wrap: nowrap;
  }
}
